## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup

import pandas as pd

import requests

import gmaps

# Import API key

from config import g_key

# Configure gmaps API key

gmaps.configure(api_key=g_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")

city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,71.65,60,20,5.75,few clouds
1,1,Provideniya,RU,64.3833,-173.3000,46.51,87,100,8.99,overcast clouds
2,2,Acapulco,MX,16.8634,-99.8901,82.22,78,100,4.61,overcast clouds
3,3,Karratha,AU,-20.7377,116.8463,70.83,19,31,17.54,scattered clouds
4,4,Upernavik,GL,72.7868,-56.1549,38.08,88,93,6.67,overcast clouds

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Acapulco,MX,16.8634,-99.8901,82.22,78,100,4.61,overcast clouds
11,11,Praya,CV,14.9215,-23.5087,75.74,83,20,14.97,few clouds
13,13,Norman Wells,CA,65.2820,-126.8329,80.64,39,75,3.44,broken clouds
16,16,Sayat,TM,38.7839,63.8803,80.47,19,0,10.54,clear sky
17,17,Rikitea,PF,-23.1203,-134.9692,75.45,78,12,19.84,few clouds
22,22,Oussouye,SN,12.4850,-16.5469,78.73,81,97,5.55,overcast clouds
24,24,Bengkulu,ID,-3.8004,102.2655,82.22,69,99,2.21,overcast clouds
28,28,Hithadhoo,MV,-0.6000,73.0833,82.51,73,99,9.48,overcast clouds
30,30,Xichang,CN,27.8964,102.2634,80.92,58,35,1.54,scattered clouds
32,32,Georgetown,MY,5.4112,100.3354,87.75,68,20,5.75,few clouds

In [18]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                240
City                   240
Country                240
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Acapulco,MX,82.22,overcast clouds,16.8634,-99.8901,
11,Praya,CV,75.74,few clouds,14.9215,-23.5087,
13,Norman Wells,CA,80.64,broken clouds,65.2820,-126.8329,
16,Sayat,TM,80.47,clear sky,38.7839,63.8803,
17,Rikitea,PF,75.45,few clouds,-23.1203,-134.9692,
22,Oussouye,SN,78.73,overcast clouds,12.4850,-16.5469,
24,Bengkulu,ID,82.22,overcast clouds,-3.8004,102.2655,
28,Hithadhoo,MV,82.51,overcast clouds,-0.6000,73.0833,
30,Xichang,CN,80.92,scattered clouds,27.8964,102.2634,
32,Georgetown,MY,87.75,few clouds,5.4112,100.3354,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary. 
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found . . . skipping.")

Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Acapulco,MX,82.22,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
11,Praya,CV,75.74,few clouds,14.9215,-23.5087,LT Aparthotel
13,Norman Wells,CA,80.64,broken clouds,65.2820,-126.8329,Heritage Hotel
16,Sayat,TM,80.47,clear sky,38.7839,63.8803,
17,Rikitea,PF,75.45,few clouds,-23.1203,-134.9692,People ThankYou
22,Oussouye,SN,78.73,overcast clouds,12.4850,-16.5469,Auberge du Routard
24,Bengkulu,ID,82.22,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
28,Hithadhoo,MV,82.51,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Xichang,CN,80.92,scattered clouds,27.8964,102.2634,Xichang ibis Hotel
32,Georgetown,MY,87.75,few clouds,5.4112,100.3354,Cititel Penang

In [23]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!="")]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Acapulco,MX,82.22,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
11,Praya,CV,75.74,few clouds,14.9215,-23.5087,LT Aparthotel
13,Norman Wells,CA,80.64,broken clouds,65.2820,-126.8329,Heritage Hotel
17,Rikitea,PF,75.45,few clouds,-23.1203,-134.9692,People ThankYou
22,Oussouye,SN,78.73,overcast clouds,12.4850,-16.5469,Auberge du Routard
24,Bengkulu,ID,82.22,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
28,Hithadhoo,MV,82.51,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Xichang,CN,80.92,scattered clouds,27.8964,102.2634,Xichang ibis Hotel
32,Georgetown,MY,87.75,few clouds,5.4112,100.3354,Cititel Penang
43,Majene,ID,84.34,scattered clouds,-3.5403,118.9707,Kost Putri RABBANI

In [24]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Description</dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp}</dd>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.

locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 

max_temp = clean_hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))